{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %} Faça o Login {% endblock %}

{% block conteudo%}

<section data-bs-version="5.1" class="content10 cid-tzVgp39K95 mt-5 pt-5" id="content10-1">

    <div class="container">
        <div class="row justify-content-center border border-ligth">
            <div class="col-12">
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                    Login
                </h6>
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Salvar">
                </form>
                <p>Não possui uma conta? <a class="text-info" href="{% url 'cadusuario' %}">Crie aqui!</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}